* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
}
#__next,
#__next > div {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
footer {
  margin-top: auto;
}
button > svg {
  margin: 0 4px;
}
.swal2-container {
  font-family: system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.swal2-modal {
  border-radius: 0;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.16);
}
.swal-transaction-confirm a {
  font-size: 97%;
  display: inline-block;
  padding: 4px;
  color: rgb(56, 98, 187);
}
.swal-transaction-confirm input {
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
}
.swal-transaction-confirm label {
  text-align: left;
  width: 100%;
  display: block;
}
.client-overlay-logo {
  padding: 20px;
}
.client-overlay-logo path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  fill: white;
  stroke: black;
  stroke-width: 1px;
  transition: 2s;
  animation: dash 3s forwards;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  50% {
    stroke-dashoffset: 600;
  }
  100% {
    stroke-dashoffset: 1000;
  }
}
